@media screen and (max-width: 736px) {
	.three-columns {
		column-count: 3;
		height: 151px;
	}
	
	.list-block h3 {
		padding: 10px 0px;		
	}
}

@media screen and (min-width: 736px) {
	.three-columns {
		column-count: 4;
	}
	
	.list-block {
		height: 160px;
		list-style: none;
	}
}

body{
	background-color:#e2e2e2;
}

header{
	width:100%;
	position:fixed;
	height:50px;
	background-color:#ccc;
	overflow:hidden;
	z-index:2;
	box-sizing:border-box;
}

.page-content{
	padding-top:50px;
}

.page-content .main-carousel{
	width:100vw;
	height:400px;
	overflow:hidden;
	position:relative;
	z-index:1;
}

.page-content .main-carousel .carousel-next,
.page-content .main-carousel .carousel-prev{
	position:absolute;
	top:50%;
	padding:20px;
	background-color:rgba(200,200,200,1);
	cursor:pointer;
	margin-top:-25px;
}

.page-content .main-carousel .carousel-next{
	right:0;
}

.page-content .main-carousel .carousel-prev{
	left:0;
}

.page-content .main-carousel .carousel-cells{
	width:99999px;
	height:100%;

}

.page-content .main-carousel .carousel-cells article{
	width:100vw;
	height:100%;
	float:left;
	display:flex;
}

header {
	background-color: #a0a0a0;
	padding: 0 8px;
}

nav ul {
	float: right;
}

nav li {
	background-color: #dddddd;
	padding: 5px 15px;
 	margin: 12px 2px;   
	float: left;
}

.logo {
	font-size: 32px;
	height: inherit;
	padding: 10px 0;
}

.main-carousel {
	background: url("../img/slide-background.jpg") center center;
}

@keyframes slideRightOut {
  	0% { transform: translate(0);}
	100% { transform: translate(100vw);}
}

@keyframes slideLeftOut {
	0% { transform: translate(0);}
  	100% { transform: translate(-100vw);}
}

@keyframes slideRightIn {
  	0% { transform: translate(-100vw);}
	100% { transform: translate(0);}
}

@keyframes slideLeftIn {
  	0% { transform: translate(100vw);}
  	100% { transform: translate(0);}
}

.slide-text {
	width: inherit;
	text-align: center;
	padding: 160px 0;
}

.slide-text h1 {
	font-size: 52px;
}

.column-content {
	background-color: lightgray;
	padding-left: 15px;
}

.listTitle {
	font-size: 24px;
	padding: 22px 0;
}

.list-block h3 {
	padding-bottom: 20px;
}

.list-block li {
	list-style: none;
}